*{
  box-sizing: border-box;
}
.text-overflow{
  text-transform: capitalize;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.cards-container{
  --main-color: rgb(88, 193, 219);
  text-align: center;

}
.title-container{
 color: var(--main-color);
}
.card-wrapper{
  display: inline-block;
  --img-size: 140px;
  /* чтобы помещалось 2-3 картинки в карточке */
  min-width: calc(var(--img-size)*2);
  max-width: calc(var(--img-size)*3);
  width: 100%;
  /* ширина от родителя */
  margin: 10px;
  border: 3px solid var(--main-color);
  font-family: sans-serif;
  font-size: 14px;
  
  text-align: center;
}
.header-bg{
  height: calc(var(--img-size)*1.1);
  
 background-color: var(--main-color);
}

.card-content{
 
}
.photo-profile{
  width: var(--img-size);
  height: var(--img-size);
  margin-top: calc(var(--img-size)/2*-1);
  margin-bottom: 0.5em;
padding: 5px;
border: 1px solid #999;
border-radius: 50%;


  object-fit: cover;
  object-position: left;

  background-color:rgb(255, 255, 255)
}
.full-name-user{
  max-width: 60%;
  margin: auto;
}
.address-user>img{
 width: 14px;
}
.btn-container{
  margin: 0 30px;
  padding: 10px 0;
 border-top: 2px solid #a3c6cc54;
 border-bottom: 2px solid #a3c6cc63;
}
.btn{
  max-width: 40%;
  padding: 0.2em 0.5em;
  border: none;
  border-radius: 5px ;
  color: white;
  font-size: 0.7em;
}
.follow-bg{
background-color: green;
}
.main-bg{
  background-color: var(--main-color);
}
.footer-bg{
  height: calc(var(--img-size)*0.5);
  padding-top: 20px ;
 background-color: var(--main-color);
}
.card-text{
  padding: 10px 30px;
  font-size: 0.9em;
  line-height: 1.5;
}
.footer-bg img{
  width: 24px;
}
